* {
    font-family: Muli, sans-serif;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;    
    line-height: 56.25px;
    width: 100%;
    position: relative;
    z-index: 999;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-login-a {
    font-size: 14px;
    color: #171717 !important;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
}

.header-button-card {
    border: 1px solid #0c713d;
    border-radius: 10px;
    padding: 20px 14px;
    display: flex;
    align-items: center;
    height: 40px;
}

.button-card {
    position: relative;
}

.button-card > span {
    position: absolute;
    background-color: #0c713d;
    line-height: 20px;
    border-radius: 50%;
    padding: .5px 5.5px;
    font-size: 10px;
    left: 10px;
    top: 10px;
}